<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h2>{{ project.title }}</h2>
            <img src="{{ project.pictures.url }}" class="img-fluid rounded mb-3" alt="{{ project.title }}">
            <p>{{ project.details }}</p>
            <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" style="width: {{ project.progress }}%;" aria-valuenow="{{ project.progress }}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <button class="btn btn-success btn-lg">Donate Now</button>

            <hr>
            <h5>Comments</h5>
            <div class="comments-section">
                {% for comment in project.comments.all %}
                <div class="comment">
                    <strong>{{ comment.user.username }}</strong> - {{ comment.created_at|date:"M d, Y" }}
                    <p>{{ comment.content }}</p>
                </div>
                {% empty %}
                <p>No comments yet. Be the first to comment!</p>
                {% endfor %}
            </div>
            <form method="POST">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit" class="btn btn-primary">Add Comment</button>
            </form>
        </div>
        <div class="col-md-4">
            <h4>Related Projects</h4>
            <ul class="list-group">
                {% for similar_project in related_projects %}
                <li class="list-group-item">
                    <a href="{% url 'project_detail' similar_project.pk %}">{{ similar_project.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
